body {
    padding: 20px;
    background-color: rgb(31, 28, 219);
    background-color:#333;
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center
}

#world {
    padding-bottom: 10px;
}

table {
    background-color: rgb(217, 221, 217);
    border-spacing: 0;
}

td {
    border: 1px solid  rgb(114, 114, 218);
    border-radius: 3px;
    width: 10px;
    height: 10px;
}

#start,
#clear,
#random {
    padding:10px 20px;
    border-radius: 5px;
    /* border: none;     */
    background: rgb(114, 114, 218)
}

td.dead {
    background-color: transparent;
    /* background: green; */
}

td.live {
    background-color:red;

}